<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="T2033_XML_PATH" value="C:\Users\cittvs\Documents\temp\XMLWriterDemo.xml" />
        <add key="T2033_DOC_PATH" value="C:\Users\cittvs\Documents\temp\XMLWriterDemo.pdf" />
    </appSettings>
</configuration>